/* 共通 */
html { 
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.nemu-flame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}

.menu-title-yellow {
    font-size: 24px;
    font-weight: bold;
    color: #ffd61a;
}

.menu-subtitle-large {
    text-align: center;
    line-height: 200%;
    font-size: 18px;
    color: #222222;
    margin: 30px 0px 0px;
}

.menu-subtitle {
    text-align: center;
    line-height: 200%;
    font-size: 16px;
    color: #222222;
    margin: 30px 0px 0px;
}

.menu-body-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    text-align: center;
    line-height: 200%;
    font-size: 16px;
    color: #222222;
    margin: 0px 0px 40px;
}

.center-text-narrow {
    text-align: center;
    line-height: 200%;
    font-size: 16px;
    color: #222222;
    margin: 0px 0px 30px;
}

.button {
    width: 300px;
    height: 60px;
    margin: 60px auto;
    font-size: 18px;
    font-weight: bold;
    background: #ffd61a;
    color: white;
    border: none;
}

.button:hover {
    opacity: 0.7;
    color: #222222;
    transition: all 0.2s 0s ease-in-out;
}

/* ヘッダー */
.top-page-header {
    position: sticky;
    display: flex;
}

.header-flame {
    display: flex;
    width: 100%;
    height: 121px;
    padding: 0 50px;
    justify-content: space-between;
}

.header-logo-box {
    display: flex;
    width: auto;
}

.header-logo-box>img {
    width: auto;
    height: 70px;
    margin: auto 0;
}

.header-menu-box {
    display: flex;
    width: auto;
}

.header-menu-item {
    display: flex;
}

.header-menu-item>p {
    font-size: 21px;
    margin: auto 25px;
}

.header-menu-item:hover {
    background: #ffd61a;
    opacity: 0.7;
    transition: all 0.2s 0s ease;
}

/* トップ画像 */
.top-img-flame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#top-img {
    width: 100%;
}

.catch-phrase-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.catch-phrase {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.sub-phrase {
    color: white;
    font-size: 30px;
    margin: 30px 0px 0px;
}

/* ABOUT */
.about-slider-box {
    display: flex;
    position: relative;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin: 40px auto 0px;
    overflow: hidden;
}

.about-slider-list-left {
    display: flex;
    position: absolute;
    width: 1200px;
    overflow: hidden;
}

.about-slider-list-right {
    display: flex;
    position: absolute;
    left: 100%;
    width: 1200px;
    overflow: hidden;
}

.about-slider-item {
    width: auto;
}

.about-slider-item>img {
    height: 200px;
    width: auto;
}

.about-slider-list-animation {
    animation: infinity-scroll 30s infinite linear 0.5s both;
}

@keyframes infinity-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* COURSE */
.course-item-box {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.course-item-subbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 50%;
    overflow: hidden;
}

.course-item-subbox>img {
    height: 100%;
    width: auto;
}

.course-text-box-left {
    margin: 50px;
    align-self: flex-start;
}

.course-text-box-right {
    margin: 50px;
    align-self: flex-end;
}

.course-title {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}

.course-text {
    text-align: left;
    line-height: 200%;
    font-size: 16px;
    color: #222222;
    margin: 40px 0px 0px;
}

/* NEWS */
.news-list-box {
    display: flex;
    align-items: center;
}

.news-item-box {
    width: 300px;
    padding: 5px 15px 0px;
}

.news-item-box:hover {
    background: #ffd61a;
    opacity: 0.7;
    transition: all 0.2s 0s ease;
}

.news-item-img-box {
    width: 300px;
    height: 200px;
}

.news-item-img-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item-text-box>.date {
    color: #222222;
    font-size: 14px;
    margin: 30px 0px 24px;
    font-weight: bold;
}

.news-item-text-box>p {
    line-height: 200%;
    color: #222222;
    font-size: 14px;
}

/* ACCESS */
#gs-tokyo-map {
    width: 100%;
    height: 300px;
}

.access-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: 45px auto;
}

.access-text-line {
    display: flex;
    width: 100%;
    margin: 15px auto;
}

.access-text-key {
    color: #222222;
    font-size: 16px;
    text-align: left;
    width: 150px;
}

.access-text-value {
    color: #222222;
    font-size: 16px;
    text-align: left;
    width: 250px;
}

/* CONTACT */
.contact-form {
    margin: 40px auto 0px;
}

.contact-form-key {
    width: 240px;
    height: auto;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    border-right: 2px solid #bfbfbf;
    padding: 8px 64px 8px 16px;
    font-size: 16px;
    color: #222222;
    text-align: left;
    vertical-align: top;
}

.contact-form-value {
    width: 400px;
    height: auto;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    padding: 8px 16px 8px 8px;
}

.contact-form-value>input[type="text"] {
    width: 308px;
    height: 32px;
    font-size: 16px;
    padding: 0px 8px;
    outline: 1px solid #bfbfbf;
}

#contact-form-trigger {
    width: 328px;
    height: 36px;
    font-size: 16px;
    padding: 0px 8px;
    outline: 1px solid #bfbfbf;
}

.contact-form-motivation-box {
    display: flex;
    align-items: flex-start;
    margin: 12px 0px;
}

.contact-form-motivation-box>label {
    vertical-align: middle;
    font-size: 16px;
    color: #222222;
    margin: 3px 8px 3px 30px;
}

.contact-form-value>textarea {
    width: 310px;
    height: 132px;
    font-size: 16px;
    padding: 8px;
}

.contact-send-button {
    margin: 30px auto;
}

/* フッター */
.top-page-footer {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 30px 0px;
    margin: 110px 0px 0px;
    background-color: #707070;
    color: white;
}